<div style="position: relative">
        <a href="#" class="product-card">
                <div class="pc-img-container">
                    <img draggable="false" src="{{imgUrl}}" alt="">
                </div>
                <div class="pc-description">
                    <p class="price-real">${{price | number }}</p>
                    <p class="price-offer" > ${{ getDiscountPrice(price, offerDiscount) | number }} <span class="float-right text-success">{{offerDiscount}}% OFF</span></p>
                    <p> {{(name.length>30)? (name | slice:0:30)+'..':(name)}} </p>
                </div>
            </a>
</div>
