
.category-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.category-item{
    width: 150px;
    height: 150px;
    position: relative;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    outline: 1px solid #eae6e6;
    background-color: #FFF;
}

.icon{
    margin: 10% auto 5px;
    width: 50%;
    height: fit-content;
}

@media (min-width: 768px) { 
    .category-item{
        width: 175px;
        height: 175px;
    }

    .icon{
        margin: 15px auto 5px;
    }
    
    .category-item .icon{
        font-size: 4.5rem;
    }
}

@media (hover: hover) {
    .category-item:hover{
       background-color:  #ba2140;
       color: #FFF;
    }

    .category-item:hover .icon{
        position: relative;
        animation-name: slideToBottomSquare;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
    }
}