<app-carousel></app-carousel>

<section id="categories">
  <div *ngIf="categoriesList" class="container-fluid mt-4">
    <h2 class="mb-3 muted">Explore our categories</h2>

    <div class="category-wrapper">
      <a routerLink="c/{{category.slug}}" class="category-item" *ngFor="let category of categoriesList">
        <div class="icon">
          <img src="assets/icons/{{category.icon}}.svg" alt="Kiwi standing on oval">
        </div>
        <p class="text-center"> {{category.name}}</p>
      </a>
    </div>
  </div>
</section>

<section id="offers">
    <app-offers></app-offers>
  </section>

<ngx-spinner bdOpacity=0.9 bdColor="#f5f5f5" size="medium" color="#da494c" type="ball-clip-rotate-pulse"
  [fullScreen]="true">
</ngx-spinner>