.container-fluid.product-details{
    padding: 0;
}

.category-header{
    position: relative;
    z-index: 0;
    height: 150px;
    overflow: hidden;
    background: #d8d8d8;
    margin: 0;
}

.pd-wrapper{
    position: relative;
    margin: -130px auto 0;
    width: 90%;
    background-color: #FFF;
    border: 1px solid #eae6e6;
    padding: 10px;
}

.pd-container{
    display: flex;
    flex-direction: column;
    position: relative;
}

.pd-images{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pd-squares-wrapper{
    display: none;
}

.pd-square img{
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
}

#product-carousel{
    width: 80%;
    margin: 0 auto;
    max-width: 360px;
}


.price-real{
    text-decoration: line-through;
    font-size: 1.2rem;
}

.price-offer{
    font-size: 2rem;
    position: relative;
}

.badge.badge-success{
    font-size: 1rem;
    margin-left: 20px;
    position: absolute;
    top: 33%;
}

.pd-description{
    border-top: 1px solid rgba(51, 51, 51, 0.1);
}


.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item{
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
transition: -webkit-transform 0.6s ease-in-out;
transition: transform 0.6s ease-in-out;
transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.product-quantity-button{
    width: 80%;
    padding: 5px;
    min-width: 150px;
    max-width: 200px;
    display: flex;
    background-color: #f4f4f4;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    font-weight: 600;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.48);
}

.product-quantity-button a {
    text-decoration: none;
}
.product-quantity-button p {
    margin: 0;
}


@media (min-width: 786px){
    .category-header{
        height: 250px;
    }

    .pd-wrapper{
        padding: 20px;
        margin-top: -190px;
    }

    .pd-container{
        flex-direction: row;
    }

    .pd-images{
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .pd-price{
        width: 33%;
    }


    .pd-squares-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 10%;
    }

    #product-carousel{
        max-width: 460px;
        min-width: 300px;
    }
}