.nav-item{
    margin-right: 1rem;
}

.search-bar{
    min-width: 50%;
    position: relative;
}

.search-bar input{
    width: 100%;
}

.search-bar .search-panel{
    min-height: 50px;
    width: 105%;
    padding: 1px 12px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 2;
    background-color: white;
}

.search-panel .search-item{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #ced4da;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.search-panel .search-item:last-of-type{
    border-bottom: none;
}

.search-panel .search-item img{
    width: 50px;
    margin-right: 5%; 
}


.cart-badge{
    position: absolute;
    background: #fa9600;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 11px;
    right: -10px;
    top: 0;
}

.hide{
    display: none !important;
}

.loading-circle{
    position: absolute;
    top: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// IMPORTANT! Media query to phone
@media(max-width: 760px){
    .cart-badge{
        left: 50px;
    }
    .search-bar{
        width: fit-content;
    }
}