<div *ngIf="offersList" class="container-fluid mt-4">
        <h2 class="text-center">Offers</h2>
        <div class="underline"></div>
        <div class="slider">
                <div class="slide-track">
                        <div #slideItems *ngFor="let offer of offersList; let last = last" class="slide-item">
                                <app-product-card [offer]="offer">
                                </app-product-card>
                        </div>
                </div>
                <button type="button" class="slide-prev">Previous</button>
                <button type="button" class="slide-next">Next</button>
        </div>
</div>