<div class="container-fluid mt-4">
        <h2 class="text-center">Offers</h2>
        <div class="underline"></div>
    
        <div id="offer-list" class="carousel slide">
            <div class="carousel-inner row w-100 mx-auto">
                <div class="carousel-item active">
                    <div class="product-card-list">
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1/200/300'" [price]="1000" [name]="'list 1 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1/200/300'" [price]="2000" [name]="'list 1 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1/200/300'" [price]="3000" [name]="'list 1 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1/200/300'" [price]="4000" [name]="'list 1 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1/200/300'" [price]="5000" [name]="'list 1 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/10/200/300'" [price]="1000" [name]="'list 2 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/10/200/300'" [price]="2000" [name]="'list 2 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/10/200/300'" [price]="3000" [name]="'list 2 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/10/200/300'" [price]="4000" [name]="'list 2 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/10/200/300'" [price]="5000" [name]="'list 2 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/100/200/300'" [price]="1000" [name]="'list 3 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/100/200/300'" [price]="2000" [name]="'list 3 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/100/200/300'" [price]="3000" [name]="'list 3 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/100/200/300'" [price]="4000" [name]="'list 3 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/100/200/300'" [price]="5000" [name]="'list 3 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1000/200/300'" [price]="1000" [name]="'list 4 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1000/200/300'" [price]="2000" [name]="'list 4 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1000/200/300'" [price]="3000" [name]="'list 4 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1000/200/300'" [price]="4000" [name]="'list 4 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1000/200/300'" [price]="5000" [name]="'list 4 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1001/200/300'" [price]="1000" [name]="'list 5 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1001/200/300'" [price]="2000" [name]="'list 5 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1001/200/300'" [price]="3000" [name]="'list 5 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1001/200/300'" [price]="4000" [name]="'list 5 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1001/200/300'" [price]="5000" [name]="'list 5 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1002/200/300'" [price]="1000" [name]="'list 6 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1002/200/300'" [price]="2000" [name]="'list 6 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1002/200/300'" [price]="3000" [name]="'list 6 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1002/200/300'" [price]="4000" [name]="'list 6 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1002/200/300'" [price]="5000" [name]="'list 6 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1003/200/300'" [price]="1000" [name]="'list 7 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1003/200/300'" [price]="2000" [name]="'list 7 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1003/200/300'" [price]="3000" [name]="'list 7 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1003/200/300'" [price]="4000" [name]="'list 7 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1003/200/300'" [price]="5000" [name]="'list 7 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1004/200/300'" [price]="1000" [name]="'list 8 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1004/200/300'" [price]="2000" [name]="'list 8 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1004/200/300'" [price]="3000" [name]="'list 8 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1004/200/300'" [price]="4000" [name]="'list 8 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1004/200/300'" [price]="5000" [name]="'list 8 product 5'"></app-product-card>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="product-card-list">
    
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1005/200/300'" [price]="1000" [name]="'list 9 product 1'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1005/200/300'" [price]="2000" [name]="'list 9 product 2'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1005/200/300'" [price]="3000" [name]="'list 9 product 3'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1005/200/300'" [price]="4000" [name]="'list 9 product 4'"></app-product-card>
                        <app-product-card [imgUrl]="'https://picsum.photos/id/1005/200/300'" [price]="5000" [name]="'list 9 product 5'"></app-product-card>
                    </div>
                </div>
            </div>
    
            <!-- Controls Bootstrap -->
            <a class="carousel-control-prev" href="#offer-list" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#offer-list" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    
    </div>