/* You can add global styles to this file, and also import other style files 
#da494c
*/
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap";

$color-primary:#801CE3;

:root {
  --color-primary: #801CE3;
  --color-secondary: #FFF383;
  --color-alter: #545454;
}


body {
  background-color: #FFFFFF;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

code {
  display: block;
}

a {
  color: var(--color-primary);

  &:hover,
  &:visited {
    color: lighten($color-primary, 10%);
  }
}

.muted {
  color: #727273;
}

.btn {
  border-radius: 100px;
  padding: 10px 20px;

  &.btn-primary {
    @include button-variant($color-primary, darken($color-primary, 7.5%), darken($color-primary, 10%), lighten($color-primary, 5%), lighten($color-primary, 10%), darken($color-primary, 30%));
  }
}


.underline {
  border-top: 3px solid #1a1a1a;
  width: 60px;
  margin: 0 auto 20px;
}

.badge-cart-pulse:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: badgeCartPulse 1s ease infinite;
  animation: badgeCartPulse 1s ease infinite;
  border-radius: 50%;
  border: 4px double #da494c;
}

@keyframes slideToBottomSquare {
  0% {
    bottom: 0;
  }

  30% {
    opacity: 0;
  }

  50% {
    bottom: 50%;
  }

  60% {
    opacity: 0;
    top: 50%;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes badgeCartPulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }

  60% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: .4
  }

  to {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    opacity: 0
  }
}