/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f5f5f5;
}

code{
    display: block;
}

.underline{
    border-top: 3px solid #1a1a1a;
    width: 60px;
    margin: 0 auto 20px;
}
